* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.calculator {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr / 1fr;
}

.screen {
  padding-inline: 1rem;
  display: grid;
  grid-template: 1fr 2fr / 1fr;
  justify-items: end;
  align-items: center;
}

.prev {
  font-size: 4rem;
}

.curr {
  font-size: 8rem;
}

.buttons {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

button {
  font-size: 6rem;
  cursor: pointer;
}

.parentheses {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.flash {
  display: block;
  animation: 0.25s forwards flash;
}

@keyframes flash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}