* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.calculator {
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr / 1fr;
}

.screen {
  padding-inline: 1rem;
  display: grid;
  grid-template: 1fr 2fr / 1fr;
  justify-items: end;
  align-items: center;
}

.prev {
  font-size: 4rem;
}

.curr {
  font-size: 8rem;
}

.buttons {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

button {
  font-size: 6rem;
}